@tailwind base;
@tailwind components;
@tailwind utilities;

/* backend */
@import '@radix-ui/colors/blue.css';

/* frontend */
@import '@radix-ui/colors/jade.css';
@import '@radix-ui/colors/jade-alpha.css';
@import '@radix-ui/colors/jade-dark.css';
@import '@radix-ui/colors/jade-dark-alpha.css';
@import '@radix-ui/colors/teal.css';
@import '@radix-ui/colors/teal-alpha.css';
@import '@radix-ui/colors/teal-dark.css';
@import '@radix-ui/colors/teal-dark-alpha.css';
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-alpha.css';
@import '@radix-ui/colors/cyan-dark.css';
@import '@radix-ui/colors/cyan-dark-alpha.css';

@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';

html {
  background-color: rgb(249, 250, 251);
}

a {
  /* color: #a9a90d; */
  /* color: #c86d25; */
  /* color: #489dcdfc; */
  /* color: blue; */
  color: #2995d2fc;
}

a:hover {
  text-decoration: underline;
}

.avoid-break {
  page-break-inside: avoid;
}
